@font-face {
  font-family: UltraBeams;
  src: url('../../public/fonts/UltraBeams.ttf');
}

body {
	margin: 0;
}
.home-container {
	background-color: #D0021B;
	height: 600px;
	.home {
		max-width: 1024px;
		height: 600px;
		margin: 0 auto;
		.main-text{
			display: inline-block;
			position: relative;
			float: left;
			clear: left;
			left: 42px;
			top: 20%;
			.headline {
				width: 550px;
				p {
					color: white;
					// font-weight: bold;
					font-size: 56px;
					font-family: UltraBeams;
					margin: 0px 0px 28px 0px;
				}
			}
			.headline-info-temp {
				width: 425px;
				p {
				color: white;
				// font-weight: regular;
				font-size: 14px;
				font-family: 'Avenir Next-Regular';
				// font-weight: 400;
				}
			}
		}
		.header-container {
			position: relative;
			top: 7%;
			.logo-container {
				display: inline-block;
				position: relative;
				float: left;
				left: 48px;
				// margin: 0 0 0 4%;
				.logo {
					height: 65px;
				}
			}
			.social-container {
				display: inline-block;
				position: relative;
				height: 65px;
				float: right;
				right: 48px;
				.social-icons {
					margin: 0 0 0 28px;
					height: 100%;
				}
			}
		}
		.iphone-container {
			// height: 83%;
			position: relative;
			float: right;
			clear: right;
			margin: 0 10% 0 0;
			top: 16%;
			width: 275px;
			height: 73.1%;
			overflow: hidden;
			.iphone {
				// overflow: hidden;
				// height: 500px;
			}
		}
		.email-form-container {
			margin-top: 60px;
			.email-input::-webkit-input-placeholder {
			  color: white;
				font-size: 16px;
				font-family: 'Avenir Next-Regular';
			}
			.email-input {
				background-color: #E67265;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 10px 30px;
				border: none;
				font-size: 16px;
				color: white;
			}
			.white-button {
				background-color: white;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: none;
				display: inline-block;
				cursor: pointer;
				color: #D0021B;
				font-family: 'AvenirNext-Medium';
				font-size: 16px;
				padding: 10px 50px;
				text-decoration: none;
			}
		}
		
		.learn-demo-container {
			margin-top: 60px;
			.demo-button {
				background-color: white;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: none;
				display: inline-block;
				cursor: pointer;
				color: #D0021B;
				font-family: 'AvenirNext-Medium';
				font-size: 16px;
				text-decoration: none;
				padding: 13px 65px;
				margin-left: 35px;
			}
			.learn-button {
				background-color: #D0021B;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: 3px solid white;
				display: inline-block;
				cursor: pointer;
				color: white;
				font-family: 'AvenirNext-Medium';
				font-size: 16px;
				padding: 7px 56px;
				text-decoration: none;
				padding: 10px 40px;
			}
		}
	}
}
.platform {
	height: 545px;
	h2 {
			font-family: UltraBeams;
			font-size: 44px;
		}
	.platform-text {
		margin-top: 100px;
	}
	.platform-info {
		font-family: 'AvenirNext-Regular';
		color: #4A4A4A;
		width: 619px;
		margin: 0 auto;
		margin-top: 35px;
	}
}
.food-icon-container {
	text-align: center;
	margin-top: 80px;

	.food-descrip-container {
		display: inline-block;
		margin-right: 40px;
		margin-left: 40px;
		width: 250px;
				font-family: 'AvenirNext-Regular';
		b p{
			margin-top: 35px;
		}
		p {
			margin-top: 5px;
			margin-bottom: 0px;
			color: #4A4A4A;
		}
		img {
			height: 124px;
		}
	}
}

.request-donate {
	height: 450px;
	.arrow-container {
		text-align: center;
		img {
			height: 56px;
		}
	}
	.request-donate-text-container {
		// margin-top: 70px;
		width: 67%;
		margin: 70px auto;
		h2 {
			color: white;
			font-weight: bold;
			font-size: 32px;
			font-family: UltraBeams;
		}
		p {
			margin-top: 80px;
			color: white;
			font-size: 14px;
			font-family: 'Roboto-Regular', sans-serif;
		}
	}
	.request {
		background-color: rgba(231, 76, 60, 1);
		height: 100%;
		width: 50%;
		display: inline-block;
	}
	.donate {
		background-color: rgba(210, 114, 101, 1);
		height: 100%;
		width: 50%;
		display: inline-block;
	}

}
.how-to {
	height: 875px;
	img {
		width: 25%;
		margin: 90px auto;
	}
	.how-to-text-container {
		// margin-top: 50px;
		width: 45%;
		margin: 50px auto;
		h2 {
			font-weight: bold;
			font-size: 32px;
			font-family: 'Roboto', sans-serif;
		}
		p {
			margin-top: 25px;
			font-size: 14px;
			font-family: 'Roboto-Regular', sans-serif;
		}
	}
}
.one-step {
	height: 500px;
	background-color: rgba(231, 76, 60, 1);
	div {
		display: inline-block;
		position: relative;
	}
	.one-step-iphone-container {
		width: 550px;
		height: 425px;
		left: 10%;
		top: 15%;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.one-step-text-container {
		// margin-top: 45px;
		// display: inline-block;
		left: 4%;
		top: -22%;
		h2 {
			width: 220px;
			color: white;
			font-weight: bold;
			font-size: 32px;
			font-family: 'Roboto', sans-serif;
		}
		p {
			margin-top: 25px;
			color: white;
			font-size: 14px;
			font-family: 'Roboto-Regular', sans-serif;
			width: 390px;
		}
	}
}


// mobile format
@media (max-device-width: 780px) {
	body {
		background-color: blue;
	}
	.logo-container {
		position: relative;
		top: 3%;
		float: left;
		margin: 0 0 0 2%;
		.logo {
			height: 70px;
		}
	}
	.social-container {
		position: relative;
		top: 3%;
		float: right;
		margin: -1% 3% 0 0;
		height: 70px;
		.social-icons {
			margin: 0 0 0 30px;
			height: 50%;
			visibility: hidden;
		}
		.share-icon {
			height: 100%;
			visibility: visible;
		}
	}
	.home {
		height: 1100px;
	}	
	.main-text{
		position: relative;
		left: -10%;
		top: 10%;
		.headline {
			width: 580px;
			p {
				color: white;
				font-weight: bold;
				font-size: 70px;
				font-family: 'Roboto', sans-serif;
				margin: 0px 0px 20px 0px;
			}
		}
		.headline-info-temp {
			width: 575px;
			p {
			color: white;
			// font-weight: regular;
			font-size: 25px;
			font-family: 'Roboto-regular', sans-serif;
			// font-weight: 400;
			}
		}
	}
	.iphone-container {
		// height: 83%;
		position: relative;
		float: right;
		margin: 0 18% 0 0;
		top: 15%;
		width: 62%;
		overflow: hidden;
		.iphone {
			// height: 500px;
		}
	}
	.email-input::-webkit-input-placeholder {
	  color: white;
		font-size: 35px;
		font-family: 'Roboto-Regular', sans-serif;
	}

	.email-input {
		background-color: rgba(210, 114, 101, 1);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 10px 30px;
		border: none;
		font-size: 35px;
		color: white;
	}

	.white-button {
		background-color: white;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: none;
		display: inline-block;
		cursor: pointer;
		color: rgba(210, 114, 101, 1);
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 35px;
		padding: 10px 50px;
		text-decoration: none;
	}

	.learn-demo-container {
		margin-top: 60px;
		.learn-button {
			padding: 10px 40px;
		}
		.demo-button {
			background-color: rgba(231, 76, 60, 1);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			border: 3px solid white;
			display: inline-block;
			cursor: pointer;
			color: white;
			font-family: 'Roboto-Medium', sans-serif;
			font-size: 35px;
			padding: 7px 56px;
			text-decoration: none;
			margin-left: 35px;
		}
	}
}
// bootstrap mods
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}