$desktop-med-width: 910px;
$phone: 640px;

@mixin desktop-med {
	@media (max-width: #{$desktop-med-width}) {
		@content;
	}
}
@mixin phone {
	@media only screen and (max-device-width: #{$phone}) {
		@content;
	}
}

.creators-container{
		height: 970px;
		background-color: #FAFAFA;
		overflow: hidden;
		@include desktop-med {
			height: 710px;
		}
		@include phone {
			height: 2080px;
			min-width: 320px;
		}
	.creators {
		margin: 0 auto;
		height: 970px;
		max-width: 1024px;
		@include desktop-med {
			height: 710px;
		}
		@include phone {
			height: 2080px;
		}
		h2 {
			font-size: 44px;
			font-family: UltraBeams;
			margin-top: 100px;
			@include desktop-med {
				margin-top: 30px;
			}
			@include phone {
				margin-top: 100px;
			}
		}
		.staff-container {
			text-align: center;
			margin-top: 80px;
			@include desktop-med {
				margin-top: 80px;
			}
			@include phone {
				margin-top: 85px;
			}
			.individual {
					display: inline-block;
					height: 300px;
					width: 190px;
					margin: 20px 55px;
					vertical-align: top;
					@include desktop-med {
						margin: -10px 20px;
					}
					@include phone {
						margin-top: 15px;
						margin-left: 100px;
						margin-right: 100px;
					}
				.circle-base {
					width: 120px;
					height: 120px;
					// background-color: blue;
					margin: auto;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					background-size: contain;
					@include desktop-med {
						width: 90px;
						height: 90px;
					}
					@include phone {
						width: 120px;
						height: 120px;
					}
				}
				.fj {
					background-image: url(../../public/images/FJ.jpg);
				}
				.koty {
					background-image: url(../../public/images/Koty.jpg);
				}
				.jameson {
					background-image: url(../../public/images/Jameson.jpg);
				}
				.kristi {
					background-image: url(../../public/images/Kristi.jpg);
				}
				.noah {
					background-image: url(../../public/images/Noah.jpg);
				}
				.susan {
					background-image: url(../../public/images/Susan.jpg);
				}
				img {
					margin: 0 10px;
					margin-top: 16px;
					height: 35px;
					width: 35px;
					@include desktop-med {
						width: 30px;
						height: 30px;
						margin: 0 5px;
						margin-top: 5px;
					}
				}
				b p {
					margin-top: 20px;
					font-size: 20px;
					font-family: 'AvenirNext-Regular';
					@include desktop-med {
						margin-top: 10px;
						font-size: 16px;
					}
					@include phone {
						margin-top: 20px;
						font-size: 20px;
					}
				}
				p {
					font-size: 16px;
					font-family: 'AvenirNext-Regular';
					@include desktop-med {
						font-size: 14px;
					}
					@include phone {
						font-size: 16px;
					}
				}
			}
		}
	}
}