@font-face {
  font-family: UltraBeams;
  src: url('../../public/fonts/UltraBeams.ttf');
}

$desktop-med-width: 768px;
@mixin desktop-med {
	@media (max-width: #{$desktop-med-width}) {
		@content;
	}
}

body {
	margin: 0;
}
.home-container {
	background-color: #D0021B;
	height: 650px;
	@include desktop-med {
		height: 475px;
	}
	.home {
		max-width: 1024px;
		height: 650px;
		margin: 0 auto;
		@include desktop-med {
			height: 475px;
			max-width: 768px;
		}
		.main-text{
			display: inline-block;
			position: relative;
			float: left;
			clear: left;
			left: 42px;
			top: 27%;
			@include desktop-med {
				top: 18%;
			}
			.headline {
				width: 550px;
				@include desktop-med {
					width: 400px;
				}
				h1 {
					color: white;
					// font-weight: bold;
					font-size: 56px;
					font-family: UltraBeams;
					margin: 0px 0px 15px 0px;
					@include desktop-med {
						font-size: 44px;
					}
				}
			}
			.headline-info-temp {
				width: 540px;
				@include desktop-med {
					width: 375px;
				}
				h4 {
					margin-top: 15px;
					color: white;
					font-size: 22px;
					font-family: 'AvenirNext-Regular';
					line-height: 24px;
				}
				p {
					margin-top: 50px;
					color: white;
					font-size: 18px;
					font-family: 'AvenirNext-Regular';
					line-height: 24px;
				}
				@include desktop-med {
					font-size: 12px;
				}
			}
		}
		.header-container {
			position: relative;
			top: 7%;
			.logo-container {
				display: inline-block;
				position: relative;
				float: left;
				left: 48px;
				// margin: 0 0 0 4%;
				.logo {
					height: 50px;
					@include desktop-med {
						height: 50px;
					}
				}
			}
			.social-container {
				display: inline-block;
				position: relative;
				height: 36px;
				float: right;
				right: 48px;
				@include desktop-med {
					height: 50px;
				}
				.social-icons {
					margin: 0 0 0 28px;
					height: 100%;
				}
			}
		}
		.iphone-container {
			// height: 83%;
			position: relative;
			float: right;
			clear: right;
			margin: 0 4% 0 0;
			top: 17%;
			width: 34%;
			height: 75.3%;
			overflow: hidden;
			@include desktop-med {
				width: 235px;
				margin: 0 6% 0 0;
				top: 14%;
				height: 75.4%;
			}
			.iphone {
				// overflow: hidden;
				// height: 500px;
			}
		}
		.email-form-container {
			// margin-top: 50px;
			@include desktop-med {
				margin-top: 30px;
			}
			.email-input::-webkit-input-placeholder {
			  color: white;
				font-size: 16px;
				font-family: 'AvenirNext-Regular';
			}
			.email-input {
				background-color: #E67265;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 10px 30px;
				border: none;
				line-height: 18px;
				font-size: 16px;
				color: white;
			}
			.white-button {
				background-color: white;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: none;
				display: inline-block;
				cursor: pointer;
				color: #D0021B;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				padding: 10px 50px;
				line-height: 18px;
				text-decoration: none;
			}
		}
		
		.learn-demo-container {
			margin-top: 22px;
			img {
				height: 53px;
			}
			@include desktop-med {
				margin-top: 30px;
			}
			.demo-button {
				background-color: white;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: none;
				display: inline-block;
				cursor: pointer;
				color: #D0021B;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				text-decoration: none;
				height: 38px;
				width: 192px;
				margin-left: 35px;
			}
			.learn-button {
				background-color: #D0021B;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: 3px solid white;
				display: inline-block;
				cursor: pointer;
				color: white;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				padding: 7px 56px;
				text-decoration: none;
				padding: 10px 40px;
			}
		}
	}
}
.creators-container{
		height: 600px;
		background-color: grey;
		overflow: hidden;
	.creators {
		margin: 0 auto;
		height: 600px;
		max-width: 1024px;
		h2 {
			font-size: 44px;
			font-family: UltraBeams;
			margin-top: 100px;
		}
		.staff-container {
			text-align: center;
			margin-top: 100px;
			.individual {
					display: inline-block;
					margin: auto 50px;
				#circle {
					width: 120px;
					height: 120px;
					background-color: blue;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
				}
				img {
					margin: 0 10px;
					margin-top: 16px;
					height: 35px;
					width: 35px;
				}
				b p {
					margin-top: 20px;
					font-size: 20px;
					font-family: 'AvenirNext-Regular';
				}
				p {
					font-size: 16px;
					font-family: 'AvenirNext-Regular';
				}
			}
		}
	}
}
.subscribe {
	background-color: black;
	height: 465px;
	border-bottom: 2px grey solid;
	overflow: hidden;
	div {
		margin-top: 35px;
		text-align: center;
		img {
			width: 45px;
		}
		p {
			color: white;
			font-family: 'AvenirNext-Regular';
			font-size: 16px;
			margin-top: 40px;
		}
		.email-form-container {
			margin-top: 20px;
			.email-input::-webkit-input-placeholder {
				color: #4A4A4A;
				font-size: 16px;
				font-family: 'AvenirNext-Regular';
				opacity: .5;
				text-indent: 20px;
			}
			.email-input {
				background-color: white;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				height: 50px;
				width: 310px;
				border: none;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				color: #4A4A4A;
			}
			.white-button {
				background-color: #D0021B;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				border: none;
				cursor: pointer;
				color: white;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				height: 50px;
				width: 160px;
			}
		}
	}
	h2 {
		color: white;
		font-family: UltraBeams;
		font-size: 44px;
		margin-top: 100px;
	}

}
footer {
	background-color: black;
	height: 180px;
	text-align: center;
	div {
		display: inline-block;
		margin: auto;
		p {
			margin: 40px 55px;
			display: inline-block;
			color: #4A4A4A;
			font-family: 'AvenirNext-Regular';
			font-size: 16px;
		}
	}
	p {
		// margin-top: ;
		color: #4A4A4A;
		font-family: 'AvenirNext-Regular';
		font-size: 16px;
	}
}


// bootstrap mods
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}



// recycle
