$desktop-med-width: 910px;
$phone: 640px;

@mixin desktop-med {
	@media (max-width: #{$desktop-med-width}) {
		@content;
	}
}
@mixin phone {
	@media only screen and (max-device-width: #{$phone}) {
		@content;
	}
}

.platform {
	height: 675px;
	@include desktop-med {
		height: 550px;
	}
	@include phone {
		height: 1400px;
		min-width: 320px;
	}
	h2 {
		font-family: UltraBeams;
		font-size: 42px;
		@include phone {
			font-size: 36px;
		}
	}
	.platform-text {
		margin-top: 100px;
		@include desktop-med {
			margin-top: 75px;
		}
	}
	.platform-info {
		font-family: 'AvenirNext-Regular';
		color: #4A4A4A;
		width: 620px;
		font-size: 22px;
		margin: 0 auto;
		margin-top: 35px;
		line-height: 28px;
		@include desktop-med {
			margin-top: 20px;
			font-size: 18px;
			width: 500px;
		}
		@include phone {
			width: 309px;
			font-size: 18px;
			line-height: 24px;
		}
	}
}
.food-icon-container {
	text-align: center;
	margin-top: 80px;
	@include desktop-med {
		margin-top: 20px;
	}
	.food-descrip-container {
		display: inline-block;
		margin-right: 12px;
		margin-left: 12px;
		width: 298px;
		@include desktop-med {
			width: 150px;
			margin-right: 20px;
			margin-left: 20px;
		}
		@include phone {
			margin-top: 80px;
			width: 277px;
		}
		b p{
			font-family: 'AvenirNext-Medium';
			margin-top: 35px;
			font-size: 22px;
			@include desktop-med {
				font-size: 16px;
				margin-top: 15px;
			}
			@include phone {
				font-size: 18px;
				margin-top: 40px;
			}
		}
		p {
			font-family: 'AvenirNext-Regular';
			margin-top: 15px;
			// margin-bottom: 0px;
			color: #4A4A4A;
			@include desktop-med {
				margin-top: 5px;
				font-size: 13px;
			}
			@include phone {
				margin-top: 15px;
			}
		}
		img {
			height: 124px;
			@include desktop-med {
				height: 75px;
			}
			@include phone {
				height: 124px;
			}
		}
	}
}