$desktop-med-width: 910px;
$phone: 640px;

@mixin desktop-med {
	@media (max-width: #{$desktop-med-width}) {
		@content;
	}
}
@mixin phone {
	@media only screen and (max-device-width: #{$phone}) {
		@content;
	}
}

.subscribe {
	background-color: black;
	height: 465px;
	border-bottom: 2px grey solid;
	overflow: hidden;
	@include desktop-med {
		height: 250px;
	}
	@include phone {
		height: 440px;
		min-width: 320px;
	}
	div {
		margin-top: 35px;
		text-align: center;
		@include desktop-med {
			margin-top: 20px;
		}
		@include phone {
			margin-top: 30px;
		}
		img {
			width: 45px;
			@include desktop-med {
				width: 30px;
			}
			@include phone {
				width: 45px;
			}
		}
		p {
			color: white;
			font-family: 'AvenirNext-Regular';
			font-size: 16px;
			margin-top: 40px;
			@include desktop-med {
				margin-top: 20px;
				font-size: 14px;
			}
			@include phone {
				margin-top: 30px;
			}
		}
		.email-form-container {
			margin-top: 20px;
			@include phone {
				margin-top: 40px;
			}
			.email-input::-webkit-input-placeholder {
				color: #4A4A4A;
				font-size: 16px;
				font-family: 'AvenirNext-Regular';
				opacity: .5;
				text-indent: 20px;
				@include phone {
					font-size: 14px;
				}
			}
			.email-input {
				background-color: white;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				height: 50px;
				width: 310px;
				border: none;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				color: #4A4A4A;
				text-indent: 20px;
				@include desktop-med {
					width: 210px;
					height: 35px;
					font-size: 14px;
				}
				@include phone {
					width: 180px;
					font-size: 12px;
				}
			}
			.white-button {
				background-color: #D0021B;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				border: none;
				cursor: pointer;
				color: white;
				font-family: 'AvenirNext-Regular';
				font-size: 16px;
				height: 50px;
				width: 160px;
				@include desktop-med {
					height: 35px;
					width: 120px;
					font-size: 14px;
				}
				@include phone {
					height: 35px;
					width: 100px;
					font-size: 12px;
				}
			}
		}
	}
	h2 {
		color: white;
		font-family: UltraBeams;
		font-size: 44px;
		margin-top: 100px;
		@include desktop-med {
			margin-top: 30px;
			font-size: 36px;
		}
		@include phone {
			margin-top: 100px;
			font-size: 30px;
		}
	}

}
